body{
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #1a1a1a;
    color: white;
  }
  
  .navbar-brand {
    display: flex;
    align-items: center;
    font-size: 1.7vw;
    padding-left: 20px;
  }
  
 
  .nav-links {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 1.1vw;
  }
  
  .nav-links li {
    margin: 0 10px;
  }
  
  .nav-links a {
    color: white;
    text-decoration: none;
  }
  
  .nav-icons {
    display: flex;
    align-items: center;
  }
  
  .nav-icons button, .nav-icons img {
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    margin-left: 15px;
    cursor: pointer;
  }
  
  .amazon-icon {
    height: 30px;
  }
  
  .menu-toggle {
    display: none;
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
  }

  .selected{
    color: skyblue;
  }
  
  @media (max-width: 768px) {
    .navbar {
      flex-wrap: wrap;
    }
  
    .menu-toggle {
      display: block;
      position: absolute;
      margin-left: 80%;
    }
  
    .nav-links {
      display: none;
      width: 100%;
      flex-direction: column;
      text-align: center;
    }
  
    .nav-links.active {
      display: flex;
    }
  
    .nav-links li {
      margin: 10px 0;
    }
  
    .nav-icons {
      margin-left: auto;
      display: none;
    }

    
  }